#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.transfer-list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.list-container {
  margin: 10px;
  width: 200px;
  height: 230px;
  overflow-y: scroll;
  border: 1px solid #ccc;
  padding: 10px;
}
.list ul {
  list-style-type: none;
  padding: 0;
}
.list li {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}
label {
  color: white;
}
.buttons-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10px;
}
.buttons-container button {
  margin: 5px;
  padding: 5px 10px;
  background-color: #317ae0;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
